

<div class="container-fluid">

    <h1>Diary Entries</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <div *ngFor="let entry of entries; let i=index" >
                    <h5 id={{i}} appHighlight>{{entry.title}}</h5>
                    <h6>{{entry.entryDate|dateCount}} day(s) remaining</h6>
                    <button class="btn btn-success rounded-pill" (click)='toggleThoughts(i)'>See Notes</button>
                    <app-entry-thoughts *ngIf="entry.showThoughts"[entry]='entry' (isDeleted)='entryDelete($event,i)'></app-entry-thoughts>
                </div>
            </ul>
            
        </div>
        <div class="col-md-6">
            <app-entry-form (addEntry)='addNewEntry($event)'></app-entry-form>
            
        </div>
    </div>
    

    
    
</div>